.container {
  width: 300px;
  height: 450px;
  margin: 0 auto;
  text-align: left;
  background-color: rgb(91, 187, 243);
  justify-content: center;
}

button{
  margin-top: 20px;
  margin-left: 100px;
}

.center h1{
  margin-top: 20px;
}

body {
  font-family: 'Open Sans';
  color: white;
}

hr {
  color:white
}